# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Environment variables
.env
.env.local
.env.development
.env.production

# Build output
dist/
build/

# Vite temp files
.vite/
vite.config.js.timestamp*

# Editor / OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/